<div class="ui comments">
    <!-- <h3 class="ui dividing header">Comments</h3> -->
    <% @comments.each do |c| %>
        <div class="comment">
            <a class="avatar">
                <%= image_tag  c.user.image_url, class: "ui avatar image" %>
            </a>
            <div class="content">
                <a class="author"><%= c.user.name %></a>
                <div class="metadata">
                    <span class="date"><%= time_ago_in_words(c.updated_at) %></span>
                </div>
                <div class="text">
                   <%= c.content %>
                </div>
                <!-- <div class="actions">
                    <a class="reply">Reply</a>
                </div> -->
            </div>
        </div>
    <% end %>
</div>